@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">

<div class="col-md-6">
    <partial name="LogIndex"></partial>
</div>
<div class="col-md-6">
    <partial name="RegIndex"></partial>
</div>
</div>
